@import "css/cursed-jez.css";

body {
    font-family: Arial;
    background-color: black;
    /*background-image: url("assets/harold.png");*/
    text-align: center;
}

.headline {
    margin-bottom: 0%;
    font-size: 300%;
    color: white;
}

.main-div {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-controls {
    padding: 10px;
}

.main-controls-label {
    color: #FFFFFF;
}

.main-controls-buttons {
    padding: 10px;
}

.time-slider {
    width: 100%;
}

.screaming-den {
    margin-top: 0%;
    font-size: 400%;
    padding-left: 40px;
    transform: rotate(2.5deg);
    color: rebeccapurple;
    font-family: "BlackAsylum-xypj";
}

.description {
    color: white;
    font-size: 150%;
}

.metaballz {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* Style inputs */
input[type=number],
select {
    width: 100%;
    margin: 8px 0;
    display: list-item;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.metaball-form-label {
    font-size: 100%;
    color: white;
}

.metaball-form {
    padding: 10px;
    background-color: #444444;
    border: 1px solid #ccc;
}

.metaball-list {
    padding: 10px;
}

.metaball-list-item {
    padding: 10px;
    list-style-type: none;
}

.metaball-list-item-button {
    width: 100%;
}

@font-face {
    font-family: "BlackAsylum-xypj";
    src: url("assets/fonts/BlackAsylum-xypj.ttf");
}

/*
.the-introduction {
    -moz-animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
    font-size: 200%;
    color: black;
    text-align: center;
    background-image: url("assets/banger.jpg");
}*/