html,
body,
div {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: black;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github {
  width: 3em;
}

.haroldium {
  position: absolute;
  z-index: -1;
  width: min(100vw, 100vh);
  filter: brightness(10%);
}